@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {

  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  margin-top:8px;
  background: transparent; /* Background of the scrollbar track */
  border-radius: 100px; /* Optional: Round the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, white, grey, black); /* Gradient from white to grey to black */
  border-radius: 100px; /* Optional: Round the thumb */
   /* Optional: Add a border to the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #b0f0f0, #b0b0b0, #505050); /* Slightly different gradient on hover */
}
